<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.vinhnv2507.chengiosprefs</string>
			<key>key</key>
			<string>masterEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key><string>PSLinkCell</string>
			<key>detail</key><string>ChengIOSChangeInfoController</string>
			<key>isController</key><true/>
			<key>label</key><string>Change Info</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ChengIOSAppListController</string>
			<key>isController</key><true/>
			<key>key</key>
			<string>spoofedApps</string>
			<key>label</key>
			<string>Spoofed Apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.vinhnv2507.chengiosprefs</string>
			<key>key</key>
			<string>appVersionEnabled</string>
			<key>label</key>
			<string>App Version (2147483647)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ChengIOS 1.0.1
by Vinh Nguyen</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string></string>
		</dict>
	</array>
	<key>title</key>
	<string>ChengIOS</string>
</dict>
</plist>
