<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.vinhnv2507.chengiosprefs</string>
			<key>key</key>
			<string>masterEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaultApplicationSwitchValue</key>
			<false/>
			<key>defaults</key>
			<string>com.vinhnv2507.chengiosprefs</string>
			<key>detail</key>
			<string>ATLApplicationListMultiSelectionController</string>
			<key>key</key>
			<string>spoofedApps</string>
			<key>label</key>
			<string>Spoofed Apps</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionName</key>
					<string>User Apps</string>
					<key>sectionType</key>
					<string>User</string>
				</dict>
				<dict>
					<key>sectionName</key>
					<string>System Apps (not recommended)</string>
					<key>sectionType</key>
					<string>System</string>
				</dict>
				<dict>
					<key>sectionName</key>
					<string>Hidden Apps (not recommended)</string>
					<key>sectionType</key>
					<string>Hidden</string>
				</dict>
			</array>
			<key>showIdentifiersAsSubtitle</key>
			<true/>
			<key>useSearchBar</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.vinhnv2507.chengiosprefs</string>
			<key>key</key>
			<string>appVersionEnabled</string>
			<key>label</key>
			<string>App Version (2147483647)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ChengIOS 1.0.0
by Vinh Nguyen</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string></string>
		</dict>
	</array>
	<key>title</key>
	<string>ChengIOS</string>
</dict>
</plist>
